#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

LANGUAGE 0, SUBLANG_NEUTRAL
DLG_MAIN DIALOG 0, 0, 235, 80
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "CONVERSION DE BASE BY ALEX ESCALANTE MARON"
FONT 15, "Ms Shell Dlg"
{
    CONTROL "", EDIT1,"Edit", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 37,20,75,10
    CONTROL "", EDIT2,"Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 113,20,23,10
    CONTROL "10", EDIT3,"Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 170,20,10,10
    CONTROL "2", EDIT4,"Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 216,20,10,10
    CONTROL "&Insertar", BTN_INSERTAR, "Button", 0x10010000 , 10,32,176,15
    CONTROL "&Limpiar", BTN_LIMPIAR, "Button", 0x10010000 , 187,32,40,15
    CONTROL "De Base:", EDIT5,"Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 142,20,27,10
    CONTROL "A Base:", EDIT6,"Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 191,20,25,10
    CONTROL "Numero:", EDIT7,"Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10,20,27,10
    CONTROL "----------------", EDIT8,"Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 43,7,180,10
    CONTROL "ESTADO:", EDIT9,"Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10,7,30,10

    CONTROL "RESULTADO:", EDIT10,"Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10,50,45,10
    CONTROL "", EDIT11,"Edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 58,50,170,10

}

LANGUAGE 0, SUBLANG_NEUTRAL
1                  RT_MANIFEST    ".\\manifest.xml"
